.content {
    max-width:960px;
}

.image-2 {
    padding-bottom:6px;
    padding-left:6px;
}

.prev a {
    color:#939393;
    text-transform:uppercase;
    font-family:'Raleway', sans-serif;
    font-size:0.7em;
    letter-spacing:0.1em;
    text-decoration:none;
    font-weight:bold;
}

.fa-angle-left {
    padding-right:10px;
}

.fa-angle-right {
    padding-left:10px;
}

.margin-tb {
    margin:30px 0
}

.name {
    font-size:2.5em;
    color:#565656;
    font-family:'Satisfy', cursive;
    padding:10px 0;
}

.social {
    color:#939393;
    text-transform:uppercase;
    font-family:'Raleway', sans-serif;
    font-size:0.5em;
    letter-spacing:0.1em;
    text-decoration:none;
    font-weight:bold;
}

.social a {
    color:#000000;
    padding:5px;
    font-size:1.8em;
}

.image-1 {
    position: absolute;
    clip: rect(0px,640px,380px,0px);
    padding-bottom:6px;
}

@media (max-width: 992px) {

.image-1 {
    position:inherit;
}

 .image-2 {
     padding-left:0;
 }

}

